/* @override 
	http://cintient/dashboard/css/new.css
	http://cintient/css/new.css
	http://cintient/project/new/css/new.css
	http://cintient/project/css/new.css
	http://cintient/settings/css/new.css
	http://cintient/project/history/css/new.css
	http://cintient/project/edit/css/new.css
*/

/* @group Top Bar */

.topbar .fill
{
  padding-top: 2px;
  border-bottom: 1px solid #000;
  background: #222;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333', endColorstr='#111');
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #7f7f7f), color-stop(0.25, #555), color-stop(0.51, #444), color-stop(0.51, #333), color-stop(0.76, #222), color-stop(1, #111));
  background: -moz-linear-gradient(top, #7f7f7f 0%, #555 25%, #444 51%, #333 51%, #222 76%, #111 100%);
          box-shadow: 0px 1px 7px #111;
     -moz-box-shadow: #111 0px 1px 7px;
  -webkit-box-shadow: #111 0px 1px 7px;
  color: #797979;
  opacity: .96;
}

.topbar .fill .container
{
  height: 34px;
  text-shadow: #000 1px 1px 0px;
}

#topbarRight
{
  float: right;
  width: 230px;
}

#topbarRight #user #avatar
{
  float: left;
  width: 30px;
  height: 30px;
          box-shadow: 1px 1px 1px #111;
     -moz-box-shadow: #111 1px 1px 1px;
  -webkit-box-shadow: #111 1px 1px 1px;
}

#topbarRight #user #username
{
  float: left;
  margin-left: 10px;
  line-height: .9em; /* helps regulate the proximity of the links below */
  width: 190px; /* to force the user links below this element, since clear: right doesn't seem to cut it... */
  font-size: 12pt;
  color: rgb(230,230,230);
}

#topbarRight #user #links
{
  float: left;
  margin-left: 11px;
  padding-top: 1px;
  font-size: .8em;
}

#topbarLeft, #topbarLeft .menuLinks
{
  float: left;
}

#topbarLeft #cintientLettering { /* These are specific to the lettering on the topbar */
  color: rgb(230,230,230);
  float: left;
  margin-top: 8px;
  float: left;
  text-shadow: #000 1px 1px 0px;
}

#topbarLeft #logoLettering
{
  float: left;
  width: 150px;
}

#topbarLeft ul.nav
{
  float: left;
  margin-right: 0px;
}

/* This is both the menu and the link that opened it */
#topbarLeft ul.nav .dropdown
{
  /* Bigger font just for the main dropdown */
  font-size: 1.26em;
}

/* This is just the menu, not including the link that opened it */
#topbarLeft ul.dropdown-menu
{
  margin-top: -5px; /* place the menu dropdown the pixel right after the bar */
}

#topbarLeft ul.dropdown-menu > li
{
  /* space between menu items */
  padding-top: 4px;
}

#topbarLeft ul.dropdown-menu > li:last-child
{
  padding-bottom: 4px;
}

#topbarLeft ul.sectionLinks
{
  padding-top: 1px;
  padding-left: 10px;
}

#topbarLeft ul.sectionLinks > li
{
  height: 34px;
  margin-top: -3px;
  padding-top: 3px;
  float: left;
  /*border-left: 1px solid #999;*/
}

/* @end */


/* @group Defaults */

html, body
{
  background-color: #eee;
}

body
{
  padding-top: 37px; /* container below topbar */
}

.container > footer
{
  margin-top: 10px;
  padding-bottom: 40px;
  float: left;
  width: 100%;
}

.container > footer, p
{
  line-height: 1.2em;
  text-align: center; /* center align it with the container */
}

.mainContent { /* The white background content wrapper */
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
  float: left;
  width: 100%;
}
      
.page-header { /* Page header tweaks */
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

.leftRow
{
  border-right: 1px solid #EEE;
}

.rightRow
{
  margin-left: 0;
  padding-left: 19px;
}
      
#alertPane
{
  z-index: 1000;
  position: absolute;
  width: 100%;
  line-height: 1.6em;
  font-size: 1.2em;
}

.alert-message
{
  margin-bottom: 2px;
          box-shadow: 0px 1px 4px #111;
     -moz-box-shadow: #111 0px 1px 4px;
  -webkit-box-shadow: #111 0px 1px 4px;
}

.alert-message a.close
{
  float: left;
  margin-right: 15px;
}

/* ========================= */

.closingX
{
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  width: 10px;
  height: 10px;
  color: #fff;
  background-color: rgb(170,170,170);
  display: block;
top: 0px;
right: 0px;
height: 0;
width: 10px;
padding: 10px 0 0 0;
overflow: hidden;
background: black none;
border: 0.04545454545455px solid white;
-moz-border-radius: 18px;
-webkit-border-radius: 18px;
border-radius: 10px;
color: white;
cursor: pointer;
-moz-user-select: none;
-webkit-user-select: none;
user-select: none;
}

.closingX::before
{
  content: "×D7";
  width: 9px;
  font-size: 10pt;
  display: block;
  line-height: 1px;
}

.fake-lightbox {
  width: 200px;
  height: 40px;
  padding: 15px;
  position: relative; /*Important for the position of the close box*/
  margin: 25px auto;
  box-shadow: 0 2px 12px #333;
  -ms-box-shadow: 0 2px 12px #333;
  -moz-box-shadow: 0 2px 12px #333;
  -webkit-box-shadow: 0 2px 12px #333;
  border-radius: 8px;
  -ms-border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border: 1px solid #666;
}
/* ========================= */

/* @end */





/* @group Dashboard */

#dashboard ul
{
  margin-left: 0px;
}

/* The project avatar is col1 and the status and project name are col2 */
#dashboard .col1, .col2
{
  float: left;
  padding-right: 10px;
  margin-bottom: 4px; /* Space between the project avatar and the line after */
}

/* The project list */
#dashboard li.project
{
  clear: both;
  padding: 15px 10px 0px 10px; /* to beautify the on-hover highlight */
  margin-right: 7px; /* to beautify the on-hover highlight */
          transition: all 0.15s ease-in-out;
     -moz-transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  min-height: 111px; /* Try to give all projects an even height */
  padding-bottom: 10px;
  -webkit-border-radius: 4px;
	 -moz-border-radius: 4px;
    	  border-radius: 4px;
}

#dashboard li.project a
{
  color: inherit;
}

#dashboard li.project:not(:last-child)
{
  border-bottom: 1px solid #EEE; /* Line between each project */
}

#dashboard ul#projectList
{
  margin-bottom: 0px;
  padding-right: 4px;
}

/* The items inside a project, on the project list */
#dashboard ul#projectList > li > ul > li
{
  clear: both;
}

#dashboard ul#projectList > li > ul > li.sparkline
{
  /* To properly empty space above the sparkline */
  margin-top: 6px;
  margin-left: 1px;
}

#dashboard .sparklineBuilds
{
  /* Small trick to not show the 1, 1, 1, 1, 0, 0, 1 numbers that might
     be there in a fraction of a section before the sparkline.js can
     turn them into a canvas image. This way we don't have to mess around
     with visibility or display - it seems sparkline.js doesn't play well
     with that. */
  color: transparent;
}

#dashboard .leftRow
{
  /*margin-left: 8px;*/ /* Less space than default between left bar content and left container margin */
}

#dashboard .projectRevision
{
  font-size: 12pt; /* slightly increase the revision line */
}

#dashboard .builtOn
{
  font-size: .86em;
  margin-top: 3px;
}

#dashboard h3.projectTitle
{
  float: none;
  margin-top: -4px;
  margin-bottom: -6px;
  clear: right;
}

#dashboard .chart
{
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

#dashboard .success
{
  background-color: rgb(124,196,0);
}
#dashboard .important
{
  background-color: rgb(255,40,0);
}

#dashboard #log table
{
  float: left;
}

/* @end */

/* @group Project build history */

#projectBuildHistory .projectAvatar40x40
{
  float: left;
  margin-right: 14px;
}

#projectBuildHistory #junitReport .chart
{
  margin-left: 110px;
  margin-bottom: 20px;
}

#projectBuildHistory #quality .chart
{
  margin-left: 30px;
  margin-bottom: 20px;
}

#projectBuildHistory #quality
{
  margin-left: 40px;
}

#projectBuildHistory iframe
{
  border: 0px;
  padding: 4px;
  border: 1px solid #DDD;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}

/* @end */

/* @group Project edit */

#projectEdit .projectAvatar40x40
{
  float: left;
  margin-right: 14px;
}

#projectEdit #general #avatarUploader
{
  float: left;
  margin-left:18px;
  clear: right;
}

#projectEdit #general #avatarUploader + .help-inline
{
  /* Some hard fixes for the help-inline of the project avatar */
  float: left;
  clear: both;
  margin-top: 4px;
  margin-left: 145px;
}

#projectEdit #delete h3
{
  padding-left: 15px;
}

#projectEdit #delete form li label
{
  cursor: pointer;
}

#projectEdit #notifications form .input
{
  margin-left: 0px;
  margin-top: 5px;
}

#projectEdit #searchResultsPopover
{
  position: relative;
  margin-left: 434px;
  margin-top: -17px;
  float: left;
}

#projectEdit #searchResultsPopover .right .arrow
{
  /* Override Bootstrap, make the little arrow tip always point to the search input, regardless of search results size */
  top: 50px;
}

#projectEdit #searchResultsPopover ul
{
  margin-left: 0px;
}

#projectEdit #searchResultsPopover .content ul .help-block
{
  /* neatly place the help-block text before the first search result */
  margin-top: -6px;
  margin-bottom: 8px;
}

#projectEdit #searchResultsPopover .content ul h3
{
  /* username right beside the avatar, floats don't seem to work for this popover */
  margin-top: -40px;
  margin-left: 50px;
}

#projectEdit #searchResultsPopover .content ul li:not(:first-child)
{
  /* Some nice spacing on the search results items, so that hovering looks nicer */
  padding: 6px;
}
#projectEdit #searchResultsPopover .content ul li:hover:not(:first-child)
{
  /* don't hover on the help-block */
  background-color: #eee;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  cursor: pointer; /* for that small padding are between the li and a */
}
#projectEdit #searchResultsPopover .content ul a:hover
{
  text-decoration: none;
}



#projectEdit #userList
{
  width: 480px;
}
#projectEdit #userList ul li
{
  margin-bottom: 2px;
  float: left;
  width: 100%;
  padding: 10px;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
#projectEdit #userList ul li:hover
{
  background-color: #F8F8F8;
}
#projectEdit #userList .avatar40
{
  float: left;
  margin-right: 10px;
}
#projectEdit #userList .username
{
  float: left;
  padding-top: 2px;
}
#projectEdit #userList .actionItems
{
  float: right;
  margin-top: 8px;
}
#projectEdit #userList .actionItems .noChanges
{
  margin-top: 6px;
}
#projectEdit #userList .actionItems .remove, #projectEdit #userList .actionItems .access
{
  float: right;
  margin-left: 6px;
}
#projectEdit #userList .popover-wrapper
{
  position: relative;
  margin-left: -81px;
  top: -122px;
}
#projectEdit #userList .accessLevelPopover .inner
{
  width: auto;
}
#projectEdit #userList .accessLevelPopover .content
{
  float: left;
}
#projectEdit #userList .accessLevelPopover .content ul
{
  margin: 0px;
  padding: 0px;
  float: left;
}
#projectEdit #userList .accessLevelPopover .content ul li
{
  float: left;
  width: 30px;
  padding: 10px;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
}
#projectEdit #userList .accessLevelPopover .content ul li:hover
{
  cursor: pointer;
  background-color: #eee;
}
/*
#projectEdit #userList .actionItems form ul li
{
  margin: 0px;
  padding: 2px;
  padding-left: 12px;
}
#projectEdit #userList .actionItems form
{

}
*/

#projectEdit #builderElementsChosen .builderElement
{
  display: inline;
  position: relative;
}

#projectEdit #builderElementsChosen > ul
{
  margin-top: 0px;
  margin-bottom: 0px;
}

#projectEdit #builderElementsChosen > ul > li
{
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 0px;
}

#projectEdit #builderElementsChosen .builderElement .inner
{
  width: 376px;
}

#projectEdit #builderElementsChosen .builderElement .form-stacked
{
  padding-left: 4px;
  padding-bottom: 0px;
}

#projectEdit #builderElementsChosen .builderElement .title h3
{
  float: left;
}
#projectEdit #builderElementsChosen .builderElement .title
{
  cursor: pointer;
   -webkit-border-bottom-left-radius : 4px;
  -webkit-border-bottom-right-radius : 4px;
       -moz-border-radius-bottomleft : 4px;
      -moz-border-radius-bottomright : 4px;
           border-bottom-left-radius : 4px;
          border-bottom-right-radius : 4px;
}
#projectEdit #builderElementsChosen .builderElement .title .builderElementActionItems
{
  float: right;
  margin-top: -21px;
  margin-right: -13px;
}

#projectEdit #builderElementsChosen .builderElement .title .builderElementActionItems a.submit
{
  display: none;
}

#projectEdit #builderElementsChosen .builderElement .content
{
  display: none;
  padding-bottom: 4px;
}

/* @end */






/* @group Settings */

#settings #avatarUploader
{
  float: left;
  margin-left:18px;
  clear: right;
}

#settings #avatarUploader + .help-inline
{
  /* Some hard fixes for the help-inline of the project avatar */
  float: left;
  clear: both;
  margin-top: 4px;
  margin-left: 145px;
}

/* @end */

.projectAvatar40x40, .avatar40
{
  width: 40px;
  height: 40px;
          box-shadow: 1px 1px 1px #888;
     -moz-box-shadow: #888 1px 1px 1px;
  -webkit-box-shadow: #888 1px 1px 1px;
  background-color: #eee; /* nice fill color while images don't load up */
}

.chart { /* These properties are taken from Bootstrap's ul.media-grid li a */
  float: left;
  padding: 4px;
  border: 1px solid #DDD;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}

#cintientLettering
{
  /* Just the actual lettering, not including positioning */
  font-family: Orbitron, "Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
  font-size: 18pt;
  letter-spacing: 2px;
}

.log { /* Based on the log view on Travis-ci.org */
  clear: left;
  white-space: pre-wrap;
  word-wrap: break-word;
  line-height: 1.4em;
  font-size: 9pt;
  text-shadow: black 1px 1px 1px;
  margin: 25px 20px 10px 20px;
  padding: 10px;
  font-family: "Anonymous Pro", "Andale Mono", monospace;
  font-weight: normal;
  color: #eee;
  background-color: #303030;
     -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
       -o-border-radius: 4px;
      -ms-border-radius: 4px;
   -khtml-border-radius: 4px;
          border-radius: 4px;
}

/*

border-color: rgba(82, 168, 236, 0.8);
-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
}

*/
